body {
  margin: 0;
  font-family: 'GrabCommunity', Arial, sans-serif;
  font-size: 2vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
